*, nav {
    font-family: Arial;
}

body {
    box-sizing: border-box;
}

.nav{
    background-color: #426e6f;
}
.nav .link{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

.draggable{
    background-color: red;
    cursor: move;
}

.container
{
    display: flex;
    width: 100%;
    padding: 30px;
    background: #5f9ea0;
    border-radius: 5px;
    margin-top: 4em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.kanban{
    display: flex;
    width: 100%;
    flex: 1;
}

.kanban-column
{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #fff;
    border-radius: 5px;
    margin: 10px;
}

.kanban-title
{
    background-color:#426e6f;
    text-align: center;
    border-radius:5px 5px 0 0;
    color: white;
    -webkit-border-radius:5 ;
    -moz-border-radius:5 ;
    -ms-border-radius:5 ;
    -o-border-radius:5 ;
}

.kanban-title p {
    margin: 0;
    padding: 5px;
}

.kanban-items {
    padding-top: 0.8em;
}

.add-task-member {
    color: white;
}

.hide {
    display: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
